<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Just Tech News</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
        <header class="main-header">
            <h2>
                <a href="/">Just Tech News</a>
            </h2>
            <nav>
                {{#if loggedIn}}
                <a href="/">Home</a>
                <a href="/dashboard">My Dashboard</a>
                <button id ="logout">Log Out</button>
                {{else}}
                <a href="/login">Log In</a>
                {{/if}}
            </nav>
        </header>
        {{{ body }}}
        <footer>
            Created By Sharni
        </footer>
    </body>
    <script src="/javascript/logout.js"></script>
</html>